﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/MyStyle.css" rel="stylesheet" />

</head>
<body>
@using (Html.BeginForm())
{
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                
                <a href="#Logout" id="logout" style="color: white;padding-top:15px; float: right" onclick="@("window.location.href='" + @Url.Action("LogOut", "UserAccounts") + "'");">
                    LogOut
                    <img src="http://i64.tinypic.com/157n953.png" border="0">
                </a>
            </div>
        </div>
    </div>
}
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



</body>
</html>
