﻿@model ChatApplication.Models.UserAccount
@{
    ViewBag.Title = "Welcome to Your chat";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2 class="title" >Welcome to Your chat</h2>

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row" style="margin-top:10%">
            <div class="col-xs-12 col-sm-6">
                <h4 style="text-align:center;">If you are already one of us</h4>
                <hr />

                <div class="form-group loginGroup" >
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="LogIn" class="btn btn-default loginRegister" onclick="location.href='@Url.Action("LogIn", "UserAccounts")'"  />
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <h4 style="text-align:center">If you want to join us</h4>
                <hr />

                <div class="form-group loginGroup" >
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Register" class="btn btn-default loginRegister" onclick="location.href='@Url.Action("Register", "UserAccounts")'" />
                    </div>
                </div>
            </div>

        </div>
    </div>

