﻿@model ChatApplication.Models.UserAccount

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2 class="title" >LogIn page</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()    
    <hr />
    <h2 style="color:red">
        @if (ViewBag.InvalidAccount != null)
        {
            @ViewBag.InvalidAccount
        }
    </h2>
    <div class="form-horizontal" style="margin-top:5%">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.Email)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login"  id="sendmessage" class="btn btn-default loginRegister" />
            </div>
        </div>
    </div>
}