﻿@model IEnumerable<ChatApplication.Models.UserAccount>

@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" id="userstatus" value="@ViewBag.UserStatus" />
<input type="hidden" id="displayname" value="@ViewBag.UserName"/>


<div class="row" style="margin-top:10%">
    <div class="col-sx-12 col-sm-6" id="onlineBox">
    <ul id="onlineUsers" style="font-size:20px">
    @foreach (var item in Model)
    {
        <li style="cursor:default">           
            <a id="oneOfUsers" >
                @Html.DisplayFor(modelItem => item.Username)
            </a>
        </li>
    }
    </ul>
    </div>
    <div class="col-sx-12 col-sm-6" >
        <div>
            <input type="text" id="message" placeholder="Send message to group" />
            <input type="button" id="sendmessage" value="Send" />
            <input type="hidden" id="cc" />
            <ul id="discussion"></ul>
        </div>
        <div>
            
            <input type="text" id="enterUsername" placeholder="Enter username" />          
            <input type="button" value="Is online?" onclick=getUserName() />            
                    
        </div>
    </div>
</div>

    @section scripts {
        <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
        <script src="~/signalr/hubs"></script>
        <script>
            $(function () {
                var chat = $.connection.chatHub;
                chat.client.addNewUsersToPage = function (name) {
                    $('#onlineUsers').append('<li><a>' + name + '</a></li>');
                };

                $.connection.hub.start().done(function () {

                    chat.server.send($('#displayname').val());

                });

            });


            $(function () {
                var chat = $.connection.chatHub;
                chat.client.addNewMessageToPage = function (name, message) {
                    $('#discussion').append('<li><strong>' + name
                        + '</strong>: ' + message + '</li>');
                };

                $('#message').focus();
                $.connection.hub.start().done(function () {
                    $('#sendmessage').click(function () {
                        chat.server.send($('#displayname').val(), $('#message').val());
                        $('#message').val('').focus();
                    });
                });
            });

            function getUserName() {
                var username = $('#enterUsername').val();
                var url = '@Url.Action("Check", "LogInPeriod")?userName=' + username;
              

                $.post(url, function (data) {
                    alert($("input").data("#userstatus"));
                });               
            }
            
        </script>
       
}
