﻿body {
    background-color:lightgray;
}

.loginRegister {
    width: 100%;
    background-color: black;
    color: white;
}

.loginGroup {
    margin-top: 10% ;
    margin-left: 5% !important;
}

.title {
    text-align: center;
    margin-top: 5%;
}

#onlineBox {
    border:1px dotted black;
    width:40%;
    margin-right:10%;
    padding:20px;
}